.main{
    display: flex;
    flex-direction: column;

    &-services{
        display: flex;
        flex-direction: column;
        padding-top: 99px;

        &__title{
            display: flex;
            justify-content: center;
        }

        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            &-element{
                display: flex;
                align-items: center;

                &:nth-last-child(n+2){
                    margin-bottom: 100px;
                }

                &:nth-child(even){
                    margin-left: 121px;
                }

                &:nth-last-child(1){
                    margin-bottom: 206px;
                }

                &__img:nth-child(odd){
                    margin-right: 140px;
                }

                &__img:nth-child(even){
                    margin-left: 140px;
                }

                &__text{

                    &-title{
                        margin-bottom: 34px;
                        max-width: 432px;
                    }

                    &-description{
                        max-width: 575px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    &-button{
                        display: flex;                        
                        justify-content: flex-end;
                        margin-top: 38px;
                    }
                }
            }
        }
    }

    &-feedback{
        background: #3E3E3D;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            margin-top: 125px;
            color: #FFFFFF;
        }

        &__content{
            margin-top: 106px;

            &-list{
                display: flex;

                &__element{

                    & img{
                        height: 341px;
                        width: 242px;
                    }

                    &:nth-last-child(n+2){
                        margin-right: 47px;
                    }
                }
            }
        }
    }

    &-projects{
        &__title{
            margin-top: 76.84px;
        }
    }

    &-questions{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/icons/backround_questions.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% calc(50% - 70px);
        z-index: 100;

        &__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #FFE0B0;
            
            margin: 215px 0 185px 0;
            padding: 28px 143px 62px;
            position: relative;

            &:before{
                content: "";
                background-image: url(../img/call_man_image.png);
                background-size: cover;
                height: 300px;
                width: 300px;
                display: inline-block;
                position:absolute;
                top:-80px;
                left: -170px;
                z-index: -1;
            }

            &:after{
                content: "";
                background-image: url(../img/call_famale_image.png);
                background-size: cover;
                width: 119.13px;
                height: 284.71px;
                display: inline-block;
                position:absolute;
                top: -61px;
                right: -54px;
            }

            &-description{
                margin-top: 11px;
                font-weight: 400;
                font-size: 14px;
            }

            &-inputs{
                margin-top: 30px;

                & input:first-child{
                    margin-right: 54px;
                }
            }

            &-button {
                width: 100%;
                display: flex;
                justify-content: center;

                & button{
                    margin-top: 39px;
                    position:absolute;
                }
            }
        }
    }

    &-usefularticles{
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
        padding-bottom: 90px;
        
        &__in{

            &-title{
                display: flex;
            }
    
            &-content{
                display: flex;
                font-family: 'Montserrat';
                margin: 90px 30px 0 30px;
    
                &__element{
                    display: flex;
                    flex-direction: column;
    
                    &-title{
                        margin-bottom: 10px;
                    }
    
                    &-description{
                        font-weight: 500;
                        font-size: 12px;
                        max-width: 245px;
                        line-height: 21px;
                        margin-bottom: 10px;
                    }
    
                    &-date{
                        font-weight: 300;
                        font-size: 12px;
                        color: #C6C6C6;
                        margin-bottom: 10px;
                    }
    
                    &:nth-last-child(n+2){
                        margin-right: 53px;
                    }
                }
            }

            &-link{
                margin-top: 60px;
                display: flex;
                justify-content: flex-end;
            }
        }

        
    }



}