.btn_idle{
    font-weight: 400;
    font-size: 14px;
    padding: 11px 26px;
    background-color: inherit;
    border: 1px solid #DC911B;
    border-radius: 5px;
}

.btn_hover{

}

.btn_arrow-gray{
    width: 34px;
    height: 34px;
    background: #C4C4C4;
}

.btn_arrow-brown{
    width: 34px;
    height: 34px;
    background: #DC911B;
}