&-news{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__in{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;

        &-left{
            display: flex;
            justify-content: flex-end;
            background: #EDEEEF;

            width: 50%;
            padding-top: 121px;
            padding-right: 52px;
        }

        &-right{
            display: flex;
            width: 53%;
            padding-top: 121px;
        }

        &-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 189px;
            margin-right: 97px;

            & h1{
                line-height: 43px;
                margin-bottom: 14px;
            }
        }

        &-link{
            display: flex;
            justify-content: flex-end;
            margin-top: 57.5px;
            margin-right: 17px;
        }


        #news_list{
            .main-news__in-content__element{
                margin-left: 52px;
            }
            .main-news__in-content__element:first-child{
                margin-right: 55px;

                &:after{
                    content: " ";
                    background: url(../img/icons/vector_icon.svg);
                    height: 247px;
                    width: 2px;
                    display: block;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: calc(50% - 31px);
                    top: -24px;
                    z-index: 9999;
                }
            }
            
        }
        &-content{
            display: flex;
            position: relative;

            &__element{
                display: flex;
                flex-direction: column;
                width: 228px;

                &-title{
                    margin-bottom: 18px;
                }

                &-date{
                    margin-bottom: 18px;
                    font-weight: 300;
                    font-size: 14px;
                    color: #6F6F6E;
                }

                &-description{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }

                &-button{
                    margin-top: 23px;
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }
}